.character-description-container {
  a{
    color: rgba(237,56,51, 0.8);
    &:hover{
      text-decoration: underline;
    }
    &:hover, &:visited, &:focus{
      color: rgba(237,56,51, 1);
    }
  }
  // padding: 2% 0%;
  // background-color: #222529;
  // color: #fff;
  .max-width{
    max-width: 1000px;
    margin: 0 auto;
  }
  .desc_header{
      height: 70vh;
      @media only screen and (max-width: 678px) {
        height: 80vh;
      }
      background-color: #222529;
      overflow: hidden;
      position: relative;
      .bg_name{
        display: block;
        text-align: center;
        font-family: 'Nunito Sans','Roboto', sans-serif;
        margin: 0 auto;
        text-transform: capitalize;
        font-size: 150px;
        font-weight: bolder;
        color: rgba(255,255,255,0.05);
        position: absolute;
        bottom: -50px;
        width: 100%;
        @media only screen and (max-width: 678px) {
          font-size: 90px;
          bottom: 0;
          display: none;
        }
      }
      .image_container{
        width: 75%;
        height: 230px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
        border-radius: 5px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @media only screen and (max-width: 678px) {
          float: none;
          height: 200px;
          margin: 30px auto 0 auto;
        }
        img{
          flex-shrink: 0;
          min-width: 100%;
          min-height: 100%
        }
      }
      .char-info{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 678px) {
          margin-top: 10px;
          .MuiGrid-grid-xs-12-160{
            -webkit-flex-basis: auto;
            flex-basis: auto;
          }
        }
      }
    }
  .desc_info{
    padding: 10px 0px;
    @media only screen and (max-width: 678px) {
      padding: 5px 10px;
    }
    .char_detailed_desc{
      line-height: 30px;
      word-spacing: 1.5px;
      @media only screen and (max-width: 678px) {
        line-height: 24px;
        font-size: 16px;
      }
      a{
        display: inline-block;
        text-align: left;
        margin: 10px 0px 0px 0px;
      }
    }
    .desc_divider{
      margin: 20px 0;
      height: 5px;
      width: 100%;
      text-align: left;
      border-radius: 50px;
      background-image: linear-gradient(to left, #ED3833, #222529);
    }
    .char_table{
      margin-top: 16px;
      border: 1px solid rgba(224, 224, 224, 1);
      tr {
        th, td {
          text-align: center;
          width: auto;
          &:first-child{
            text-align: left;
            max-width: 100px;
          }
        }
      }
    }
    .list{
      margin-top: 10px;
      .list_item{
        background-color: #f2f2f2;
        margin-bottom: 5px;
        border-radius: 4px;
      }
    }
  }
  .hero_desc{
    max-width: 75%;
    margin: 0 auto;
  }
  .desc_header_heading{
    font-size: 14px;
    color: #aaa;
    letter-spacing: 0.2px;
    @media only screen and (max-width: 678px) {
      margin: 4px;
      font-size: 12px;
    }
    span{
      @media only screen and (max-width: 678px) {
        margin: 4px;
        font-size: 18px;
      }
      font-size: 20px;
      color: #eee;
    }
  }
  .mcu_appearance_heading{
    margin-bottom: 0;
    @media only screen and (max-width: 678px) {
      font-size: 20px;
    }
  }
  .progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
